* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: lightcoral;
  background: linear-gradient(to bottom right, rgb(202, 216, 215), lightcoral);

}
.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  width: 350px;
  height: 400px;
  padding: 30px 40px;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 5px 12px 24px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  backdrop-filter: blur(15px);
}
.form input {
  padding: 8px 15px;
  outline: none;
  background: none;
  font-size: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  color: #fff;
  width: 100%;
  letter-spacing: 0.5px;
}
.form input::placeholder {
  color: #fff;
  letter-spacing: 0px;
}
.button {
  margin-top: 30px;
}
.button button {
  background: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 8px 15px;
  font-size: 1rem;
  width: 100%;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.button button:active {
  color: #333;
}
